.footer {
  position: absolute;
  margin-top: 20px;
  botton: 0;
  width: 100%;
  background-color: #101010;
  color:white;
}

.footer p {
  margin: 20px 0px;
  text-align: left;
}

.fan-page img {
  height: 36px;
  width: 36px;
  margin: 7px;
}

.fan-page li {
  list-style: none;
  float:right;
}
