.navbar .navbar-nav {
  display: inline-block;
  float:none;
}

.navbar .navbar-nav li{
  padding: 0px 20px;
}

.navbar .navbar-collapse {
  text-align: center;
}

#img-logo a{
      float: left;
      margin-left: 100px;
}
