* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #dcdcdc;
}

#img-main img{
  width: 100%;
  height: 100%;
}

.text-font-family {
  font-family: 微軟正黑體, sans-serif;
}

h1 {
  font-weight: bold;
  text-align: center;
}

h2 {
  font-weight: bold;
}

.boards-introduction img {
  width: 360px;
  height: 200px;
}

.daily iframe {
  width: 100%;
  height: 300px;
}
